<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row">
        <div class="form-group col-sm-5">
          <label for="name">Name</label>
          <input type="text" id="name" class="form-control" #nameInput />
        </div>
        <div class="form-group col-sm-2">
          <label for="amount">Amount</label>
          <input type="number" id="amount" class="form-control" #amountInput />
        </div>
        <div class="row">
          <div class="col-xs-12">
            <button
              class="btn btn-success"
              type="submit"
              (click)="onAddIitem()"
            >
              Add
            </button>
            <button class="btn btn-danger" type="button">Delete</button>
            <button class="btn btn-primary" type="submit">Clear</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
